// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

/* Fonts */
@import "fonts/coast-user-friendly";
@import "fonts/univers";

/* Tools */
@import "tools/variables";
@import "tools/mixins";

/* Modules */
@import "modules/header";
@import "modules/timeline";
@import "modules/messages";
@import "modules/about";
@import "modules/performance";
@import "modules/highlights";
@import "modules/other";
@import "modules/glossary";
@import "modules/footer";
@import "modules/pre-reports-footer";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: $body-font;
  position: relative;
  overflow-y: auto;
  height: auto;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none !important;

  &.more {
    color: $ccs-blue;
  }
}

b {
  font-weight: normal;
}

.overlayBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

.soft-break {
  display: block;
  @include media-breakpoint-up(sm) { // Tablet and above
    display: inline;
  }
}

.nobr {
  white-space: nowrap;
}

.section {
  height: auto;
  min-height: 200px;
  padding: 4.75em 0 4em 0;
  @include clearfix();

  @include media-breakpoint-up(sm) { // Tablet and above
    padding: 6.75em 0 6em 0;
  }

  &.dark {
    background-color: #e5edf6;
  }
}

.container {
  margin: 0 auto;
}

.site-title,
.section-title {
  color: $white;
  font-family: $ccs-font-family;
  font-weight: normal;
}

.section-title {
  font-size: 2.15em;
  line-height: 130%;
  color: $ccs-blue;
  text-align: center;
  padding: 0 0 0.85em 0;
  margin: 0;

  @include media-breakpoint-up(sm) { // Tablet and above
    font-size: 2.25em;
    padding: 0 0 1em 0;
  }
  @include media-breakpoint-up(lg) { // Desktop and above
    font-size: 2.75em;
  }
}
.graph-title {
  font-size: 1em;
  font-weight: bold;
}
.description {
  font-size: 0.9em;
}

.button {
  box-shadow: 0px 0px 0px 0px $ccs-blue-shadow;
  transform: translate3d(0, 0, 0);
  transition: transform .1s ease-in, box-shadow .1s ease-in;
  font-weight: normal !important;

  &:hover {
    box-shadow: 3px 3px 0px 0px $ccs-blue-shadow;
    transform: translate3d(-3px, -3px, 0);
  }
}

.header,
.footer {
  background-color: $ccs-blue;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
}

.overscroll-container {
  position: fixed;
  display: none;
  background-color: $ccs-blue;
  height: $overscroll-height;
  width: 100%;
  top: 0;
  z-index: -1;
}
