/// Vertical center align - relative
@mixin vertical-center-relative() {
  position: relative;
  margin-top: 50%;
  transform: translateY(-50%);
}

/// Vertical center align - absolute
@mixin vertical-center-absolute() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/// Horizontal and vertical center align - absolute
@mixin center-center-absolute() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}