// Fonts
$ccs-font-family: "CoastUserFriendly", "Brush Script MT", cursive;
$body-font: "Univers", Helvetica, Arial, sans-serif;

  // Colours
$white: #ffffff;
$black: #0b0b0b;
$ccs-blue: #0167cb;
$ccs-yellow: #EA9623;
$ccs-blue-shadow: #0054a0;
$ccs-blue-highlight: #0071e3;
$ccs-blue-keyline: #2f91f1;

// Header
$header-height: 90px;

// Dividers
$grid-line: 1px solid #d1dfee;

$overscroll-height: 400px;