#about {

  .about-contents {
    @include make-container-max-widths($container-max-widths);
    margin: 0 auto;
  }

  .flow-col {
    padding: 0 1em;

    // Tablet and above
    @include media-breakpoint-up(md) {
      column-count: 2;
      column-gap: 4.5em;
      padding: 0 1.5em;
    }

    p {
      margin: 0 0 30px 0;
      font-size: 0.85em;
    }
  }
}