.footer {
  height: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(md) { // Tablet and above
     height: 275px;
  }

  &:after {
    @include media-breakpoint-up(md) { // Laptop and above
      content: '';
      width: 59px;
      height: 90px;
      background-image: url(../images/people.png);
      background-size: contain;
      background-repeat: no-repeat;
      right: 75px;
      margin-top: 30px;
      @include vertical-center-absolute;
    }
    @include media-breakpoint-up(lg) { // Desktop and above
      right: 150px;
      margin-top: 30px;
    }
  }
  .download-pdf-cta {
    position: initial;
    margin: 3em 0;
    @include media-breakpoint-up(md) { // Tablet and above
      -webkit-font-smoothing: antialiased;
      margin: 0;
      @include center-center-absolute();
    }
  }

  .button-col {
    @include make-col();
    @include make-col-span(12);

    .button {
      white-space: nowrap;
      display: block;
    }
  }
  //
  .expand-btn {
    padding-top: 15px;
  }

  .expand-btn>.prev-report-button-expand {
    color: $white;
    font-family: $body-font;
    &.active:after {
      background-image: url('../../images/arrow-up-square-white.svg');
    }
    &:after {
      content: '';
      display: inline-block;
      margin-left: 5px;
      line-height: 0px;
      margin-top: 2rem;
      // margin-right: 5px;
      width: 13px;
      height: 13px;
    background-image: url('../../images/arrow-down-square-white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      // @include media-breakpoint-up(sm) { // Tablet and above
      //   margin-right: 13px;
      //   width: 20px;
      //   height: 20px;
      // }
    }
  }

  .button-col>.button {
    color: $ccs-blue;
    font-family: $ccs-font-family;
    font-size: 1em;
    line-height: 60px;
    height: 55px;
    border-radius: 27.5px;
    background-color: $white;
    padding: 0 25px;
    box-shadow: 0px 0px 0px 0px white;
    // box-shadow: 0px 0px 0px 0px #004375;
    &:hover {
      // box-shadow: 3px 3px 0px 0px #004375;
      box-shadow: 10px 10px 0px 0px white;
    }
    // Responsive
    @include media-breakpoint-up(sm) { // Phablet and above
      font-size: 1.5em;
      line-height: 65px;
      height: 60px;
      border-radius: 30px;
      padding: 0 35px;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      height: 70px;
      line-height: 75px;
      border-radius: 35px;
      padding: 0 45px 0 42px;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      font-size: 1.75em;
      height: 75px;
      line-height: 80px;
      border-radius: 37.5px;
      padding: 0 50px 0 48px;
    }

    &:before {
      content: '';
      display: inline-block;
      margin-left: -5px;
      margin-top: -3px;
      margin-right: 5px;
      width: 13px;
      height: 15px;
      background-image: url('../../images/arrow-down.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      @include media-breakpoint-up(sm) { // Tablet and above
        margin-right: 13px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
