#glossary {

  .terms {
    @include make-col();
    @include make-col-span(12);
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #d4c8c8;

    // Responsive
    @include media-breakpoint-up(md) { // Laptop and above
      @include make-col-span(4);
      border: 1px solid #d4c8c8;
      left: 0;

      &:first-child {
        left: 1px;
      }
      &:last-child {
        left: -1px;
      }
    }

    li,
    .term {
      display: block;
    }
    li {
      list-style-type: none;
      padding: 0 1em;
      border-bottom: 1px solid #d4c8c8;

      &.active {
        padding: 0 1em 0.5em 1em;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .term,
  .definition {
    color: #5c5c5c;
  }
  .term {
    font-size: 0.85em;
    position: relative;
    padding: 0.9em 0;
    height: auto;

    // Responsive
    @include media-breakpoint-up(md) { // Tablet and up
      padding: 0.5em 0;
      min-height: 64px;
    }
    &:after {
      display: block;
      width: 20px;
      height: 11px;
      position: absolute;
      content: '';
      top: 50%;
      right: -4px;
      background-image: url('../../images/arrow-down-square.svg');
      background-position: center center;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition: transform .3s;
      transform-origin: center center;

      @include media-breakpoint-up(md) { // Laptop and up
        width: 15px;
        height: 8px;
      }
    }
    &:hover {
      color: $ccs-blue;

      &:after {
        transform: translateY(-50%) scale(1.25);
      }
    }
    & > span {
      padding: 0 1.5em 0 0;
      display: inline-block;

      @include media-breakpoint-up(md) { // Laptop and up
        @include vertical-center-absolute();
      }
    }
  }
  .active {
    .term:after {
      transform: translateY(-50%) scale(1, -1);
    }
  }
  .definition {
    font-size: 0.85em;
    display: none;
    margin: 0 0.5em 0.5em 0;
  }
}