.header {
  width: 100%;
  height: $header-height * 0.75;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.45);
  @include media-breakpoint-up(sm) { // Tablet and above
    height: $header-height;
  }

  .header-contents {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.site-title {
  font-size: 1.2em;
  letter-spacing: 0.02em;
  padding-left: 45px;
  margin-top: 5px;
  @include vertical-center-absolute();

  @include media-breakpoint-up(sm) { // Tablet and above
    font-size: 1.4em;
    padding-left: 55px;
  }
  @include media-breakpoint-up(md) { // Laptop and above
    font-size: 1.7em;
    padding-left: 95px;
    margin-top: 0;
  }

  &:before {
    position: absolute;
    display: block;
    content: url(../images/ccs-logo.svg);
    width: 35px;
    height: 35px;
    left: 0;
    margin-top: -5px;
    @include vertical-center-absolute();

    @include media-breakpoint-up(sm) { // Tablet and above
      width: 40px;
      height: 40px;
    }
    @include media-breakpoint-up(md) { // Laptop and above
      margin-top: -3px;
      width: 53px;
      height: 53px;
      left: 20px;
    }
  }
}
/// Main nav toggle (hamburger)
.nav-toggle {
  color: $ccs-blue;
  background-color: $ccs-blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  right: 5px;
  z-index: 101;
  transform: rotate(0deg);
  padding: 0px;
  @include vertical-center-absolute;

  // Responsive
  @include media-breakpoint-up(sm) { // Tablet and above
    right: 25px;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 0px 0px $ccs-blue-shadow;
    transition: transform .1s ease-in, box-shadow .1s ease-in;
  }

  &:hover {
    @include media-breakpoint-up(sm) { // Tablet and above
      box-shadow: 3px 3px 0px 0px $ccs-blue-shadow;
      transform: translate3d(-3px, -56%, 0);
    }
  }
  .nav-toggle-contents {
    position: relative;
    width: 50%;
    min-width: 20px;
    height: 50%;
    top: 1px;
    margin: 0 auto;

    // Responsive
    @include media-breakpoint-up(sm) { // Tablet and above
      top: 2px;
    }
  }
  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 6px;
    background-color: $white;
    opacity: 1;
    transition: all .25s ease-in-out;

    // Responsive
    @include media-breakpoint-up(sm) { // Tablet and above
      top: 7px;
    }

    &:nth-child(1) {
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      width: 0%;
      left: 50%;
    }
  }
  &.collapsed {
    background-color: $white;

    span {
      width: 100%;
      left: 0;
      background-color: $ccs-blue;
      transform: rotate(0deg);

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;

        // Responsive
        @include media-breakpoint-up(sm) { // Tablet and above
          top: 7px;
        }
      }
      &:nth-child(4) {
        top: 12px;

        // Responsive
        @include media-breakpoint-up(sm) { // Tablet and above
          top: 14px;
        }
      }
    }
  }
}
/// Main menu drop-down
.nav-wrapper {
  height: 0;
  background-color: $white;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.45);
  max-width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  border-left: 1px solid transparent;

  @include media-breakpoint-up(sm) { // Tablet and above
    right: 5px;
    max-width: none;
    max-height: none;
  }

  &.in {
    height: auto;
    max-height: 95vh;
    overflow-y: auto;
    border-left: 1px solid $ccs-blue;
    border-bottom: 1px solid $ccs-blue;

    @include media-breakpoint-up(sm) { // Tablet and above
      overflow-y: auto;
    }
  }
  ul {
  }
  li,
  a {
    display: block;
  }
  a {
    padding: 8px 40px 10px 0;
    color: $black;
    font-size: 0.75em;
    border-bottom: 1px solid #b9b9b9;
    white-space: nowrap;
    font-weight: 700;

    @include media-breakpoint-up(sm) { // Tablet and above
      font-size: 0.8em;
      padding: 10px 40px 10px 0;
    }

    &:hover {
      color: $ccs-blue;
    }
  }
  li {
    margin: 0;
    padding: 0 17px;
    @include media-breakpoint-up(sm) { // Tablet and above
      padding: 0 20px;
    }
    &.title {
      font-family: $ccs-font-family;
      padding: 18px 20px 0 14px;
      margin-bottom: 5px;
      border-bottom: 0;
      color: $ccs-blue;
      display: none;

      @include media-breakpoint-up(sm) { // Tablet and above
        font-size: 1.45em;
        padding: 27px 20px 0 14px;
        margin-bottom: 20px;
        display: block;
      }

      h2 {

        @include media-breakpoint-only(xs) { // Mobile only
          font-size: 1.75em;
        }
      }
    }
    &:nth-of-type(2) {
      margin-top: 15px;
    }
    &.download,
    &:nth-last-of-type(2) {
      a {
        border-bottom: 0;
      }
    }
    &:nth-last-of-type(2) {
      margin-bottom: 10px;

      @include media-breakpoint-up(sm) { // Tablet and above
        margin-bottom: 15px;
      }
    }
    &.download {
      color: $white;
      padding: 20px;
      background-color: $ccs-blue;

      a {
        color: $ccs-blue;
        font-size: 0.9em;
        font-family: $ccs-font-family;
        text-align: center;
        line-height: 55px;
        height: 50px;
        background-color: $white;
        border-radius: 25px;
        padding: 0;

        @include media-breakpoint-up(sm) { // Tablet and above
          font-size: 1.1em;
        }

        &:before {
          content: '';
          display: inline-block;
          top: 3px;
          margin-right: 3px;
          width: 14px;
          height: 14px;
          background-image: url('../../images/arrow-down.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    a {
      &.active {
        color: $ccs-blue;
      }
    }
  }
}
