#highlights {
  padding-bottom: 8em;

  .row {

    // Remove bottom border from columns in the last row
    &:last-child {

      .graph-item {
        &:last-child {
          border-bottom: 0;
          @include media-breakpoint-up(md) { // Desktop and above
            border-bottom: $grid-line;
          }
        }
        // Hide the bottom border from the last 2 columns
        &:nth-last-child(-n+2) {
          @include media-breakpoint-up(sm) { // Tablet and above
            border-bottom: 0;
          }
        }
        // Hide the bottom border from the last 4 columns
        &:nth-last-child(-n+4) {
          @include media-breakpoint-up(lg) { // Laptop and above
            border-bottom: 0;
          }
        }
      }
    }
  }

  .graph-item {
    @include make-col();
    @include make-col-span(12);
    border-bottom: $grid-line;
    padding: 2em;
    min-height: 375px;

    // Responsive
    @include media-breakpoint-only(sm) { // Mobile only
    }
    @include media-breakpoint-up(sm) { // Tablet and above
      @include make-col-span(6);
      border-right: $grid-line;
      min-height: 320px;
    }
    @include media-breakpoint-up(md) { // Laptop and above
      min-height: 380px;
    }
    @include media-breakpoint-up(lg) { // Desktop and above
      @include make-col-span(3);
      min-height: 300px;
    }
    @include media-breakpoint-up(xl) { // Widescreen and above
      min-height: 320px;
    }

    // Hide the right border on every other 2 columns -- for 2 col layouts
    &:nth-child(2n+2) {
      // Responsive
      @include media-breakpoint-up(sm) { // Tablet and above
        border-right: 0;
      }
      @include media-breakpoint-up(lg) { // Desktop and above
        border-right: $grid-line;
      }
    }
    &:last-child {
      border-right: 0;
    }
    &.quote {
      display: none;
      position: relative;

      // Responsive
      @include media-breakpoint-up(sm) { // Tablet and above
        display: block;
      }

      span {
        color: $ccs-blue;
        font-family: $ccs-font-family;
        font-size: 1.35em;
        line-height: 135%;
        display: block;
        left: -0.02em;

        // Responsive
        @include media-breakpoint-up(sm) { // Laptop and above
          font-size: 1.5em;
        }
        @include media-breakpoint-up(xl) { // Desktop and above
          font-size: 1.75em;
        }
      }
    }
    .description {
      font-size: 0.8em;
      margin-bottom: 1.3rem;
    }
  }
  .graph-container {
    text-align: center;

    @include media-breakpoint-up(sm) { // Tablet and above
      width: 84%;
      position: absolute;
      left: 2em;
      bottom: 2em;
    }
    @include media-breakpoint-up(md) { // Laptop and above
      left: 1.5em;
      bottom: 2.25em;
    }
  }
  .graph {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;

    // Responsive
    @include media-breakpoint-only(xs) { // Mobile only
      width: 90% !important;
    }
    @include media-breakpoint-up(sm) { // Tablet and above
      display: inline-block;
      position: relative;
      vertical-align: bottom;
      padding-bottom: 77.5%;
    }
    @include media-breakpoint-up(md) { // Laptop and above
    }

    &.in {
      .line {
        opacity: 1;
        transition: opacity .75s;
        transition-delay: 1.5s;
      }
      .text-label {
        opacity: 1;
        transition: opacity .5s;
        transition-delay: 0.25s;
      }
      .text-value {
        animation: fade-in 0.5s;
        animation-fill-mode: forwards;
      }
      .graph-point {
        animation: pop-in 0.5s;
        animation-fill-mode: forwards;
      }
      .value-2011,
      .point-2011 {
        animation-delay: 0.4s;
      }
      .value-2012,
      .point-2012 {
        animation-delay: 0.6s;
      }
      .value-2013,
      .point-2013 {
        animation-delay: 0.8s;
      }
      .value-2014,
      .point-2014 {
        animation-delay: 1s;
      }
      .value-2015,
      .point-2015 {
        animation-delay: 1.2s;
      }
    }
  }

  .svg-line-graph {
    width: 100%;
    display: block;

    @include media-breakpoint-up(sm) { // Tablet and above
      position: absolute;
      top: 0;
      left: 0;
    }

    .text-value,
    .text-label {
      font-family: $body-font;
      font-size: 6px;
    }
    .text-value {
      opacity: 0;
    }
    .text-label {
    }
    .label-2015 {
      font-weight: bold;
    }
    .line {
      opacity: 0;
      stroke: $ccs-blue;
      stroke-width: 2;
      stroke-dasharray: 2, 2;
      z-index: 0;
      fill: none;
    }
    .graph-point {
      fill: $ccs-yellow;
      transform: scale(0) translateZ(0);
      transform-origin: 50% 50%;
      transform-box: fill-box;
    }
    .text-label {
      opacity: 0;
    }
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0) translateZ(0);
  }
  60% {
    transform: scale(1.25) translateZ(0);
  }
  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
