#messages {
  padding-top: 0;

  .section-title {
    padding: 2.5em 0 1.25em 0;
    white-space: nowrap;
    @include media-breakpoint-up(lg) { // Desktop and above
      padding: 2.5em 0 1em;
    }
  }
  #message-ceo {
    .section-title {
      @include media-breakpoint-down(sm) { // Phablet and below
        padding: 2.5em 0 1.25em 0;
      }
    }
  }
  .video-container {
    @include make-col();
    @include make-col-span(12);

    // Responsive
    @include media-breakpoint-up(sm) { // Tablet and above
    }
    @include media-breakpoint-up(md) { // Laptop and above
      @include make-col-span(6);
    }
    @include media-breakpoint-up(lg) { // Desktop and above
      padding: 0 2em;
    }

    &.board-chair {
      @include media-breakpoint-up(md) {
        padding-right: 2em;
      }
    }
    &.ceo {
      @include media-breakpoint-up(md) {
        padding-left: 2em;
      }
    }
    .name,
    .role,
    .more {
      display: block;
    }
    .signature {
      margin: 0.8em 0;
      max-width: 190px;
    }
    .role {
      margin-bottom: 1.5em;
      font-size: 0.75em;
    }
    p,
    .name,
    .more {
      font-size: 0.85em;
    }
  }
  .video {
    border: 3px solid $black;
    box-shadow: 3px 3px 0 0 $black;
    background-color: $black;
    position: relative;
    padding-bottom: 55.5%;
    height: 0;
    overflow: hidden;
    margin-bottom: 2.25em;

    iframe,
    object,
    embed {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .message {
    padding: 0 0.55em;
  }
}