#other {
  background-color: $ccs-blue;
  padding: 0;

  .container {
    padding: 0;

    @include media-breakpoint-down(md) { // Tablet only
      max-width: none;
      padding-bottom: 0;
    }
  }
  .other-contents {
    @include make-row(0);
    margin-bottom: 0;
    padding: 0;

    @include media-breakpoint-up(lg) { // Tablet only
      border: 1px solid $ccs-blue-keyline;
      border-top: 0;
      border-bottom: 0;
    }

    li,
    a {
      display: block;
      min-height: 200px;
      position: relative;
      @include media-breakpoint-up(lg) { // Desktop and above
        min-height: 300px;
      }
    }
    li {
      @include make-col(0);
      @include make-col-span(12);
      text-align: center;
      border-bottom: 1px solid $ccs-blue-keyline;

      @include media-breakpoint-up(sm) { // Tablet and above
        @include make-col-span(6);

        &:nth-child(odd) {
          border-right: 1px solid $ccs-blue-keyline;
        }
      }
      @include media-breakpoint-up(md) { // Desktop and above
        @include make-col-span(3);
        border-right: 1px solid $ccs-blue-keyline;
        border-bottom: 0;
      }
      &:last-child {
        border: 0;
      }
    }
    a {
      top: 0;
      left: 0;
      background-color: inherit;
      box-shadow: 0px 0px 0px 0px $ccs-blue-shadow;
      transition: all 100ms ease-in;
      /*
      &:before ,
      &:after {
        content:'';
        position:absolute;
        transition: right 100ms ease-in, bottom 100ms ease-in;
      }

      &:after {
        top:0; right:0;
        border-bottom:2px solid red;
        border-left:2px solid red;
        border-right:2px solid transparent;
        border-top:2px solid transparent;
      }

      a:hover:after {
        right:-3px;
      }
      a:before{
        bottom:0; left:0;
        border-top:2px solid red;
        border-right:2px solid red;
        border-left:2px solid transparent;
        border-bottom:2px solid transparent;
      }
      a:hover:before {
        bottom:-4px;
        right:-3px;
      }
*/
      .shadow,
      &:after {
        content: '';
        position: absolute;
        transition: right 100ms ease-in, bottom 100ms ease-in;
      }
      .text,
      &:before {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
      }
      &:before {
        content: '';
        height: 100%;
        min-height: 200px;
        @include media-breakpoint-up(lg) { // Desktop and above
          min-height: 300px;
        }
      }
      &:after {
        top: 0;
        right: 0;
        border-bottom: 2px solid $ccs-blue;
        border-left: 2px solid $ccs-blue;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
      }
      .shadow-bottom {
        bottom: 0;
        left: 0;
        border-top: 2px solid $ccs-blue;
        border-right: 2px solid $ccs-blue;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      .text {
        color: $white;
        font-size: 1.15em;
        line-height: 125%;
        transition: transform .25s ease-in-out;
        transform-origin: center center;

        @include media-breakpoint-up(md) { // Tablet and above
          font-size: 0.9em;
        }
        @include media-breakpoint-up(lg) { // Desktop and above
          font-size: 1.15em;
        }

        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 23px;
          background-image: url(../images/arrow-down-circle.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          margin-top: 13px;
          transition: transform .25s ease-in-out;
        }
      }
      &:hover,
      &:focus {
        background-color: $ccs-blue-highlight;
        box-shadow: 4px 4px 0px 0px $ccs-blue-shadow;
        transform: translate3d(-4px, -4px, 0);

        &:after {
          right: -4px;
          border-bottom: 2px solid $ccs-blue-shadow;
          border-left: 2px solid $ccs-blue-shadow;
        }
        .shadow-bottom {
          bottom: -4px;
          border-top: 2px solid $ccs-blue-shadow;
          border-right: 2px solid $ccs-blue-shadow;
        }
      }
    }
    .soft-break {
      display: block;
    }
    .hidden-mobile {

      @include media-breakpoint-only(xs) {
        display: none;
      }
    }
  }
}