#performance {
  overflow: hidden;
  .section-title {
    padding-bottom: 1em;
  }

  .bar-graph-item {
    @include make-col();
    @include make-col-span(12);
    position: relative;
    min-height: 155px;
    margin-bottom: 40px;

    // Responsive
    @include media-breakpoint-up(md) { // Laptop and above
      @include make-col-span(6);
      min-height: 170px;
      margin-bottom: 40px;
    }

    &:nth-child(odd) {
      @include media-breakpoint-up(md) { // Laptop and above
        padding-right: 2.5em;
      }
    }
    &:nth-child(even) {
      @include media-breakpoint-up(md) { // Laptop and above
        padding-left: 2.5em;
      }
    }
    .description {
      font-size: 0.8em;
    }
  }
  .graph-container {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .graph {
    width: 88.25%;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    padding-bottom: 14%;

    .svg-bar-graph {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      .line,
      .target {
        fill: none;
        stroke: $ccs-blue;
        stroke-width: 2;
        stroke-miterlimit: 10;
        transform-origin: left center;
      }
      .line {
        stroke-dasharray: 2, 2;
        z-index: 0;
      }
      .actual,
      .text-actual-label {
        fill: $ccs-yellow;
      }
      .actual {
        transform: scaleX(0);
        z-index: 1;
        transform-origin: left center;
      }
      .text-target,
      .text-actual {
        font-size: 9px;

        @include media-breakpoint-up(lg) { // Desktop and above
          font-size: 8px;
        }
      }
      .text-actual {
        fill-opacity: 0;
      }
      .text-target-label {
        fill: $ccs-blue;
      }
    }
    &.in {
      .actual {
        animation: expand 1.5s;
        animation-fill-mode: forwards;
      }
      .text-actual {
        transition: fill-opacity .5s;
        transition-delay: 1s;
        fill-opacity: 1;
      }
    }
  }

}

@keyframes expand {
  100% {
    transform: scaleX(1);
  }
}