.pre-reports-footer {
  // -webkit-transition: none;
  //   transition: none;
  height:100%;
  background-color: $ccs-blue-shadow;

  text-align: center;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(sm) { // mobile and above
    text-align: left;
  }

  // .hidden-item {
  //   display: none;
  //   @include media-breakpoint-up(sm) { // mobile and above
  //     display: inline-block;
  //   }
  // }

  .row,
  .button-col {
    height: 100%;
  }

  .center-container {
    text-align: center;
  }

  .button-col {
    padding-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    @include make-col(12);
    // @include make-col-span(12);


    @include media-breakpoint-up(sm) {
      @include make-col-span(10);
      @include make-col-push(1);
    }
    @include media-breakpoint-up(md) {
      @include make-col-span(12);
      @include make-col-push(0);
    }

    @include media-breakpoint-up(lg) {
      @include make-col-span(10);
      @include make-col-push(1);
    }

    @include media-breakpoint-up(xl) {
      @include make-col-span(8);
      @include make-col-push(2);
    }

    ul {
      display:block;
      float: left;
      text-align: center;
      width: 100%;
      padding: 0px;
      margin: auto;
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      @include media-breakpoint-up(md) {
        width: 33.333333333%;
      }
      li {
        display: block;
        width: 100%;
      }
    }

    &:before,
    .button {
      display: inline-block;
      vertical-align: middle;
    }
    &:before {
      content: '';
      height: 25px;
    }

    li {
      margin: 0px;
    }
  }

  .button {
    color: $ccs-blue;
    font-family: $body-font;
    font-size: 1.1em;
    line-height: 40px;
    text-align: center;
    // vertical-align: middle;
    height: 40px;
    // width: 190px;
    width: 210px;
    border-radius: 27.5px;
    background-color: $white;
    padding: 0 25px 0 8px;
    margin: 15px 10px;

    box-shadow: 0px 0px 0px 0px #004375;
    &:hover {
      box-shadow: 3px 3px 0px 0px #004375;
    }

    &:before {
      content: '';
      display: inline-block;
      margin-right: 13px;
      margin-top: -5px;
      // margin-right: 0px;
      width: 10px;
      height: 10px;
      background-image: url('../../images/arrow-down.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      // @include media-breakpoint-up(sm) { // Tablet and above
      //   // margin-right: 13px;
      //   //  margin-top: -5px;
      //   width: 10px;
      //   height: 10px;
      // }
    }
  }
}
