#timeline {
  background-color: $ccs-blue;
  opacity: 0;
  padding-top: $header-height * 0.75 - 1;
  position: relative;
  @include media-breakpoint-up(md) { // Laptop and above
    padding-top: $header-height - 1;
  }

  .timeline-container {

    overflow: hidden;

    width: 100%;
    height: 35vh;
    min-height: 400px;
    max-height: 700px;
    // -webkit-overflow-scrolling: touch;
    position: relative;

    @include media-breakpoint-up(sm) { // Phablet and above
      height: 70vh;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      // max-height: 1000px;
      height: 80vh;
    }
  }

  .timeline-grabber {
    display:block;
    position: relative;
    width: 100px;
    height: 70px;
    left: 0px;
    background-image: url(../images/timeline-assets/timeline-scrub-button.svg);
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
    @include media-breakpoint-up(sm) { // Phablet and above
      height: 90px;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      height: 90px;
    }
  }

  .scrubber-box {
    display: block;
    position: relative;
    width: inherit;
    height: auto;
    padding-left: 30px;
    padding-right: 20px;
  }

  .timeline-scrubber {
    width: 100%;
    min-height: 40px;
    max-height: 130px;
    position: relative;
    display: block;
    background-image: url(../images/timeline-assets/timeline-ticks.svg);
    background-position: center center;
    background-size: cover;
    background-color: #e5edf6;
    left: 0;
    // @include media-breakpoint-up(sm) { // Phablet and above
    //   max-height: 160px;
    //   background-size: 100% 200%;
    // }
    @include media-breakpoint-up(md) { // Tablet and above
      // max-height: 1000px;
      max-height: 160px;
      background-size: 100% 200%;
    }

    .timeline-time {
      display: block;
      position: relative;
      font-family: $body-font;
      font-weight: bold;
      color: #ffffff;
      top: 22px;
      left: 0px;
      text-align: center;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;
      // vertical-align: middle;
      @include media-breakpoint-up(sm) { // Phablet and above
        top: 33px;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        top: 33px;
      }
    }

    @include media-breakpoint-up(sm) { // Phablet and above
      min-height: 70px;
    }
    @include media-breakpoint-up(md) { // Phablet and above
      min-height: 90px;
    }
  }
  .timeline-image {
    height: 100%;
    width: auto;
  }
}
