<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coast Capital Savings 2015 Annual Report</title>

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#0167cb">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#0167cb">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/bower_components/sanitize-css/sanitize.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->

    <!-- Webfonts -->
    <!-- build:js scripts/vendor/webfonts.js -->
    <script src="/scripts/plugins/mtiFontTrackingCode.js"></script>
    <!-- endbuild -->


  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{#> header }}
    <!-- // Header from ./templates/partials/header.hbs -->
    {{/header}}

    {{#> timeline }}
    <!-- // Timeline from ./templates/partials/timeline.hbs -->
    {{/timeline }}

    {{#> messages backgroundType='light' }}
    <!-- // CEO / Founder's message from ./templates/partials/messages.hbs -->
    {{/messages }}

    {{#> about backgroundType='dark' }}
    <!-- // About from ./templates/partials/about.hbs -->
    {{/about }}

    {{#> performance backgroundType='light' }}
    <!-- // 2015 Performance from ./templates/partials/performance.hbs -->
    {{/performance }}

    {{#> highlights backgroundType='dark' }}
    <!-- // Financial Highlights from ./templates/partials/highlights.hbs -->
    {{/highlights }}

    {{#> other backgroundType='dark' }}
    <!-- // Other from ./templates/partials/other.hbs -->
    {{/other }}

    {{#> glossary backgroundType='light' }}
    <!-- // Glossary from ./templates/partials/glossary.hbs -->
    {{/glossary }}

    {{#> footer }}
    <!-- // Footer from ./templates/partials/footer.hbs -->
    {{/footer }}

    <div class="overscroll-container"></div>

    <!-- Google Analytics -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-5069985-21');ga('send','pageview');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery.easing/js/jquery.easing.js"></script>
    <script src="/bower_components/enquire/dist/enquire.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/TimelineMax.js"></script>
    <script src="/bower_components/pixi.js/dist/pixi.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
    <script src="/scripts/plugins/scrollspy.js"></script>
    <script src="/scripts/plugins/jquery.analytics.js"></script>
    <script src="/scripts/plugins/2D.js"></script>
    <script src="/scripts/plugins/Intersection.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/utils.js"></script>
    <script src="scripts/timeline.js"></script>
    <script src="scripts/graphs.js"></script>
    <script src="scripts/youtube.js"></script>
    <script src="scripts/analytics.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
