<div class="graph-container">
  <div class="graph">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 50" preserveAspectRatio="xMinYMin meet" class="svg-bar-graph">
      <path class="line" d="M{{ targetMarker }} 9.8H0"></path>
      <rect class="actual" x="0" y="0" width="{{ actualSize }}" height="20.5"></rect>
      <text class="text-target" x="0" y="30">
        <tspan class="text-target-label" x="0" y="35">Target</tspan>
        <tspan class="text-target-value" x="0" y="45">{{ targetValue }}</tspan>
      </text>
      <text class="text-actual" x="0" y="30">
        <tspan class="text-actual-label" x="0" y="35">Actual</tspan>
        <tspan class="text-actual-value" x="0" y="45">{{ actualValue }}</tspan>
      </text>
      <path class="target" d="M{{ targetMarker }} 0v20"></path>
    </svg>

  </div>
</div>