<div class="graph-container">
  <div class="graph">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 116 95" preserveAspectRatio="xMinYMin meet" class="svg-line-graph">

      <polyline class="line" points="105.6,14.8 81.7,12.8 57.9,16.8 34.1,36.7 10.2,62.6"></polyline>

      <rect class="graph-point point-2011" x="7.8" y="0" width="5" height="5"></rect>
      <rect class="graph-point point-2012" x="31.6" y="0" width="5" height="5"></rect>
      <rect class="graph-point point-2013" x="55.5" y="0" width="5" height="5"></rect>
      <rect class="graph-point point-2014" x="80" y="0" width="5" height="5"></rect>
      <rect class="graph-point point-2015" x="104" y="0" width="5" height="5"></rect>

      <text class="text-value value-2011" x="10.5" y="0">{{ val2011 }}</text>
      <text class="text-value value-2012" x="34" y="0">{{ val2012 }}</text>
      <text class="text-value value-2013" x="57.5" y="0">{{ val2013 }}</text>
      <text class="text-value value-2014" x="82.5" y="0">{{ val2014 }}</text>
      <text class="text-value value-2015" x="106.5" y="0">{{ val2015 }}</text>

      <text class="text-label label-2011" transform="matrix(0 -1 1 0 12.7916 95)">2011</text>
      <text class="text-label label-2012" transform="matrix(0 -1 1 0 36.7946 95)">2012</text>
      <text class="text-label label-2013" transform="matrix(0 -1 1 0 60.7975 95)">2013</text>
      <text class="text-label label-2014" transform="matrix(0 -1 1 0 84.8005 95)">2014</text>
      <text class="text-label label-2015" transform="matrix(0 -1 1 0 108.8036 95)">2015</text>
    </svg>

  </div>
</div>
