@font-face {
  font-family: 'CoastUserFriendly';
  src: url('../../fonts/coast-user-friendly.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/coast-user-friendly.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/coast-user-friendly.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/coast-user-friendly.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/coast-user-friendly.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/coast-user-friendly.svg#CoastUserFriendly') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}