@font-face{
  font-family: "Univers";
  src: url("../../fonts/univers/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
  src: url("../../fonts/univers/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),
       url("../../fonts/univers/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),
       url("../../fonts/univers/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),
       url("../../fonts/univers/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype"),
       url("../../fonts/univers/bd04ae3d-23dc-4975-9967-e21c43e5b59f.svg#bd04ae3d-23dc-4975-9967-e21c43e5b59f") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Univers";
  src: url("../../fonts/univers/541dccf9-50f5-47bd-9ba9-a01fd9a3792b.eot?#iefix");
  src: url("../../fonts/univers/541dccf9-50f5-47bd-9ba9-a01fd9a3792b.eot?#iefix") format("eot"),
       url("../../fonts/univers/5bfff3ac-e569-450d-918b-d564434e5e24.woff2") format("woff2"),
       url("../../fonts/univers/05d2bfe7-45b3-4cf8-b313-290651409c59.woff") format("woff"),
       url("../../fonts/univers/33db2509-f09f-4704-bb16-a90dd82687f7.ttf") format("truetype"),
       url("../../fonts/univers/32161123-fa52-4fcf-ad65-f0958c91e0c9.svg#32161123-fa52-4fcf-ad65-f0958c91e0c9") format("svg");
  font-weight: normal;
  font-style: oblique;
}
@font-face{
  font-family: "Univers";
  src: url("../../fonts/univers/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix");
  src: url("../../fonts/univers/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix") format("eot"),
       url("../../fonts/univers/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2") format("woff2")
       url("../../fonts/univers/4e00405b-a96d-4972-bdff-2d55e1066c45.ttf") format("truetype"),
       url("../../fonts/univers/1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e.svg#1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e") format("svg");
  font-weight: 700;
  font-style: normal;
}