<div id="about" class="section {{ backgroundType }}">
  <div class="about-contents">
    <h3 class="section-title">About Coast <span class="soft-break"></span>Capital Savings</h3>
    <div class="flow-col">
      <p>Coast Capital Savings Credit Union is Canada’s largest credit union by membership. We are a co-operative company owned by the 532,000 members who bank with us. We offer banking, investment, and insurance services through our 50 branches in the Metro Vancouver, Fraser Valley, and Vancouver Island regions of British Columbia. Our total assets under administration were $16.8 billion as at December 31, 2015.</p>
      <p>Our 1,600 staff care deeply about improving the financial well-being of our members, customers, and communities. We have delivered many helpful and innovative products such as Canada’s first free chequing account from a full-service financial institution and the country’s most flexible mortgage product, the You’re the Boss® Mortgage. Coast Capital has earned recognition as one of Canada’s 10 Most Admired Corporate Cultures™ and is a member of Canada’s Best Managed Companies Platinum Club. Every year we make our communities stronger by investing seven per cent of our budgeted pre-tax income in local programs, partnerships, and events. We are also proud to be an Imagine Canada Caring Company.</p>
      <p class="read-more">
        <a href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/AboutUs.pdf" class="more" target="_blank" data-analytics="ga" data-analytics-action="About CCS" data-analytics-category="Read More">Read more</a>
      </p>
    </div>
  </div>
</div>