<div class="container-fluid footer">
  <div class="row download-pdf-cta">
    <div class="button-col">
      <a href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/CCS2015AR.pdf" class="button" target="_blank"
         data-analytics="ga" data-analytics-action="Download PDF" data-analytics-category="Footer">
        Download the 2015 report as a PDF
      </a>
    </div>
    <div class="expand-btn">
      <a href="#pre-reports-footer" class="prev-report-button-expand"
         data-analytics="ga" data-analytics-action="Download previous expand">
        Download previous annual reports
      </a>
    </div>
  </div>
</div>
<div class="container-fluid pre-reports-footer collapse" id="pre-reports-footer">
  <div class="row">
    <div class="container center-container">
      <div class="row">
        <div class="button-col">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="./pdf/2014%20Annual%20Report.pdf" target="_blank" class="button" title="2014" data-analytics="ga" data-analytics-action="Download PDF past 2014" data-analytics-category="Footer">2014</a></li>
            <li class="list-inline-item"><a href="./pdf/2013%20Annual%20Report.pdf" target="_blank" class="button" title="2013" data-analytics="ga" data-analytics-action="Download PDF past 2013" data-analytics-category="Footer">2013</a></li>
            <li class="list-inline-item"><a href="./pdf/2012%20Annual%20Report.pdf" target="_blank" class="button" title="2012" data-analytics="ga" data-analytics-action="Download PDF past 2012" data-analytics-category="Footer">2012</a></li>
            <li class="list-inline-item"><a href="./pdf/2011%20Annual%20Report.pdf" target="_blank" class="button" title="2011" data-analytics="ga" data-analytics-action="Download PDF past 2011" data-analytics-category="Footer">2011</a></li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="./pdf/2010%20Annual%20Report.pdf" target="_blank" class="button" title="2010" data-analytics="ga" data-analytics-action="Download PDF past 2010" data-analytics-category="Footer">2010</a></li>
            <li class="list-inline-item"><a href="./pdf/2009%20Annual%20Report.pdf" target="_blank" class="button" title="2009" data-analytics="ga" data-analytics-action="Download PDF past 2009" data-analytics-category="Footer">2009</a></li>
            <li class="list-inline-item"><a href="./pdf/2008%20Annual%20Report.pdf" target="_blank" class="button" title="2008" data-analytics="ga" data-analytics-action="Download PDF past 2008" data-analytics-category="Footer">2008</a></li>
            <li class="list-inline-item"><a href="./pdf/2007%20Annual%20Report.pdf" target="_blank" class="button" title="2007" data-analytics="ga" data-analytics-action="Download PDF past 2007" data-analytics-category="Footer">2007</a></li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="./pdf/2006%20Annual%20Report.pdf" target="_blank" class="button" title="2006" data-analytics="ga" data-analytics-action="Download PDF past 2006" data-analytics-category="Footer">2006</a></li>
            <li class="list-inline-item"><a href="./pdf/2005%20Annual%20Report.pdf" target="_blank" class="button" title="2005" data-analytics="ga" data-analytics-action="Download PDF past 2005" data-analytics-category="Footer">2005</a></li>
            <li class="list-inline-item"><a href="./pdf/2004%20Annual%20Report.pdf" target="_blank" class="button" title="2004" data-analytics="ga" data-analytics-action="Download PDF past 2004" data-analytics-category="Footer">2004</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bottom-target-anchor">

</div>
