<div id="glossary" class="section {{ backgroundType }}">
  <div class="container">
    <h3 class="section-title">Glossary</h3>

    <div class="row">

      <ul class="terms">
        <li>
          <a href="#" class="term"><span>Actuarial gains (or losses) on defined benefit plans</span></a>
          <p class="definition">Gains (or losses) resulting from differences between the assumptions used to value defined benefit pension plans and what actually occurred and the effects of changes in the assumptions.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Allowance for credit losses</span></a>
          <p class="definition">Equals the difference between outstanding loan balances and their estimated net realizable value, and consists of a specific allowance and a collective allowance. The allowances are increased by the provision for credit losses and decreased by write-offs, net of recoveries. The allowance for credit losses is maintained at a level that management considers adequate to absorb all credit-related losses in its loan portfolio.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Amortized cost</span></a>
          <p class="definition">Amount at which a financial instrument is measured at initial recognition, minus principal payments, plus or minus cumulative amortization of any difference between the initial amount recognized and the maturity amount, minus any reduction for impairment.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Assets under administration</span></a>
          <p class="definition">Total assets plus financial assets that are managed by a third party on behalf of members and clients. The credit union provides administrative services such as placing trades on behalf of members and clients.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Available for sale (“AFS”) <b class="nobr">financial instruments</b></span></a>
          <p class="definition">Designated non-derivative financial instruments that are not designated or classified as financial instruments at fair value through profit or loss, loans and receivables, or held to maturity financial instruments.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Carrying value</span></a>
          <p class="definition">Amount at which an asset or liability is recognized on the Consolidated Balance Sheet.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Cash flow hedges</span></a>
          <p class="definition">Derivatives used to hedge exposure to variability in cash flows that are attributable to a particular risk associated with a recognized asset or liability that could affect profit or loss.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Effective portion of cash flow hedges</span></a>
          <p class="definition">Degree to which a cash flow hedge is effective in achieving offsetting changes in cash flows attributable to the hedged risk.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Central 1 Credit Union <b class="nobr">(“Central 1”)</b></span></a>
          <p class="definition">The financial facility and trade association for the B.C. and Ontario credit union systems. Owned and funded by the credit unions, Central 1 represents member-owned retail financial institutions that serve 3.3 million members and collectively hold $106.3 billion in assets.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Credit risk</span></a>
          <p class="definition">Risk that one party to a financial instrument will cause a financial loss for the other party by failing to discharge an obligation.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Deferred tax assets</span></a>
          <p class="definition">Amounts of income taxes payable or recoverable in future periods as a result of temporary differences between the carrying amount of an asset or liability in the financial statements and its carrying amount for tax purposes.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Derivative financial instruments</span></a>
          <p class="definition">Financial contracts whose value is derived from interest rates, foreign exchange rates, or other financial indices.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Effective interest rate</span></a>
          <p class="definition">Rate that exactly discounts estimated future cash payments or receipts through the expected life of a financial instrument to the net carrying amount of the financial instrument.</p>
        </li>
      </ul>

      <ul class="terms">
        <li>
          <a href="#" class="term"><span>Fair value</span></a>
          <p class="definition">Amount at which an asset could be exchanged, or a liability settled, between knowledgeable, willing parties in an arm’s-length transaction. Adjusting to fair value is referred to as “mark-to-market”.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Financial assets or liabilities at fair value through profit or loss (FVTPL)</span></a>
          <p class="definition">Non-derivative financial instruments that are acquired principally for the purpose of selling in the near term or for which there is evidence of a recent actual pattern of short-term profit-taking. Financial instruments may also be designated as FVTPL when the designation eliminates or significantly reduces measurement or recognition inconsistencies that would otherwise arise from measuring financial assets, or from recognizing gains and losses on them, on different bases. </p>
        </li>
        <li>
          <a href="#" class="term"><span>Financial Institutions Commission of British Columbia (FICOM)</span></a>
          <p class="definition">Regulatory agency of the provincial Ministry of Finance responsible for regulating B.C. credit unions under the Financial Institutions Act and the Credit Union Incorporation Act.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Forward contracts</span></a>
          <p class="definition">Contracts that oblige one party to the contract to buy and the other party to sell an asset for a fixed priced at a future date.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Hedging</span></a>
          <p class="definition">Risk management strategy used to manage exposures to interest rate fluctuations, foreign currency risk, and other market factors as part of its asset/liability management program.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Held to maturity (HTM) financial instruments</span></a>
          <p class="definition">Designated non-derivative financial instruments with fixed or determinable payments and a fixed maturity, other than loans and receivables, which an entity has the positive intention and ability to hold to maturity.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Impairment</span></a>
          <p class="definition">Where the present value of estimated future cash flows of a financial instrument is less than its carrying amount as a result of the occurrence of a loss event.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Net interest income</span></a>
          <p class="definition">Difference between revenues generated by interest-bearing assets, primarily loans, and the cost of servicing interest-bearing liabilities, primarily deposits.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Net interest margin</span></a>
          <p class="definition">Net interest income expressed as a percentage of average total assets.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Non-interest expenses</span></a>
          <p class="definition">Operating expenses incurred by a financial institution that are not related to deposit costs or financing expenses.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Notional amount</span></a>
          <p class="definition">Amount on which payments for derivative financial instruments are based.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Operating efficiency</span></a>
          <p class="definition">Ratio that shows the organization’s efficiency by comparing non-interest expenses to revenues, which for a financial institution is comprised of net interest income, fees and commission and other income.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Options</span></a>
          <p class="definition">Contracts in which one party grants the other party the future right to buy or to sell an exchange rate, interest rate, financial instrument or commodity at a predetermined price at or by a specified future date.</p>
        </li>
      </ul>

      <ul class="terms">
        <li>
          <a href="#" class="term"><span>Other comprehensive income (OCI)</span></a>
          <p class="definition">Fair value adjustments of financial instruments that in accordance with International Financial Reporting Standards are not recognized in the Consolidated Statement of Income but affect Members’ Equity directly.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Provision for credit losses</span></a>
          <p class="definition">Amount added to or subtracted from the allowance for credit losses in a reporting period to bring it to a level that management considers adequate to absorb all credit-related losses in its loan portfolio.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Provisions</span></a>
          <p class="definition">Liabilities of uncertain timing or amount that are unrelated to credit issues.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Return on average assets</span></a>
          <p class="definition">Indicator used to assess the profitability of the organization and to evaluate how efficiently it is utilizing its assets in comparison to peers in the same industry. The ratio is calculated by taking net income and dividing by average total assets.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Return on average equity</span></a>
          <p class="definition">Indicator used to assess the profitability of the organization by evaluating how much profit it generates with the funds retained in the organization by members. The ratio is calculated by taking net income and dividing by average total equity.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Risk-weighted assets</span></a>
          <p class="definition">Total assets adjusted by applying regulatory pre-determined risk-weight factors ranging from zero per cent to 200 per cent to on- and off-balance sheet exposures. The risk-weight factors are regulated by FICOM.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Securitization</span></a>
          <p class="definition">Arrangement where loans are sold to unrelated third parties to raise liquidity or fund additional mortgage growth.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Swaps</span></a>
          <p class="definition">Contracts that involve the exchange of fixed and/or floating interest rate payment obligations and/or currencies for a specified period of time.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Tier 1 capital</span></a>
          <p class="definition">Permanent capital comprised primarily of retained earnings but also voting shares, qualifying investment shares and contributed surplus. It is offset by deferred income tax assets and various capital deductions such as goodwill as prescribed by FICOM.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Tier 2 capital</span></a>
          <p class="definition">Secondary capital, which includes subordinated debentures, other investment shares and 50 per cent of a credit union’s portion of retained earnings in the Credit Union Deposit Insurance Corporation, Central 1 and Stabilization Central Credit Union.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Total capital</span></a>
          <p class="definition">Comprises both Tier 1 (primary) and Tier 2 (secondary) capital. Capital requirements are regulated by FICOM and a minimum capital standard based on a ratio of capital to risk-weighted assets of 8.0 per cent is required. At least 50 per cent of the capital base must consist of Tier 1 capital.</p>
        </li>
        <li>
          <a href="#" class="term"><span>Trailer fee revenues</span></a>
          <p class="definition">Revenues earned from mutual fund managers for selling their fund(s) and providing advice to investors. The fee is applied to the market value of the assets held by investors.</p>
        </li>
      </ul>

    </div>

  </div>
</div>