<div class="header">
  <div class="header-contents">
    <h1 class="site-title">2015 Annual Report</h1>
    <button class="nav-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="main-menu">
      <div class="nav-toggle-contents">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <nav id="main-menu" class="nav-wrapper" role="navigation">
      <ul class="nav">
        <li class="title"><h2>Contents</h2></li>
        <li>
          <a class="nav-link" href="#timeline" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Timeline">A Look Back at 75 Years</a>
        </li>
        <li><a class="nav-link" href="#message-board-chair" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Message - Chair">Board Chair's Message</a></li>
        <li><a class="nav-link" href="#message-ceo" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Message - CEO">CEO's Message</a></li>
        <li><a class="nav-link" href="#about" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="About">About Coast Capital Savings</a></li>
        <li><a class="nav-link" href="#performance" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Performance">2015 Performance Against Targets</a></li>
        <li><a class="nav-link" href="#highlights" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Highlights">Financial Highlights at a Glance</a></li>
        <li><a class="nav-link" href="#five-year-overview" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="5 year overview">5 Year Financial Overview</a></li>
        <li><a class="nav-link" href="#management-analysis" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Discussion">Management's Discussion & Analysis</a></li>
        <li><a class="nav-link" href="#consolidated-statements" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Financial Statements">Consolidated Financial Statements & Notes</a></li>
        <li><a class="nav-link" href="#corporate-governance" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Governance">Corporate Governance</a></li>
        <li><a class="nav-link" href="#glossary" data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Glossary">Glossary</a></li>
        <li class="download">
          <a href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/CCS2015AR.pdf" class="button" target="_blank"
             data-analytics="ga" data-analytics-category="Nav Menu" data-analytics-action="Download PDF">
            Download the full report as a PDF
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>