<div id="highlights" class="section {{ backgroundType }}">
  <div class="container">
    <h3 class="section-title">Financial Highlights <span class="nobr"> at a Glance</span></h3>

    <div class="row">
      <div class="graph-item">
        <h4 class="graph-title">Total loans</h4>
        <p class="description">Billions of dollars</p>
        {{> svg/lineGraph val2010='8.5' val2011='9.8' val2012='10.8' val2013='11.0' val2014='10.9' val2015='11.6' }}
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Total deposits</h4>
        <p class="description">Billions of dollars</p>
        {{> svg/lineGraph val2010='9.7' val2011='10.3' val2012='11.2' val2013='11.3' val2014='11.2' val2015='11.7' }}
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Members’ equity</h4>
        <p class="description">Millions of dollars</p>
        {{> svg/lineGraph val2010='600' val2011='655' val2012='724' val2013='872' val2014='936' val2015='995' }}
      </div>

      <div class="graph-item quote">
        <span>As we continue to grow, our passion for helping our members remains constant.</span>
      </div>
    </div>

    <div class="row">
      <div class="graph-item quote">
        <span>In 2015 we welcomed 20,000 new members to the Coast Capital family.</span>
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Net interest income</h4>
        <p class="description">As a percentage of average assets</p>
        {{> svg/lineGraph val2010='2.37' val2011='2.16' val2012='1.95' val2013='1.92' val2014='2.02' val2015='2.04' }}
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Non-interest expenses</h4>
        <p class="description">As a percentage of average assets</p>
        {{> svg/lineGraph val2010='2.10' val2011='2.05' val2012='1.91' val2013='1.91' val2014='1.91' val2015='2.0' }}
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Net income</h4>
        <p class="description">Millions of dollars</p>
        {{> svg/lineGraph val2010='70.2' val2011='62.0' val2012='72.4' val2013='150.6' val2014='62.0' val2015='58.4' }}
      </div>
    </div>

    <div class="row">
      <div class="graph-item">
        <h4 class="graph-title">Net income</h4>
        <p class="description">As a percentage of average assets</p>
        {{> svg/lineGraph val2010='0.67' val2011='0.57' val2012='0.60' val2013='1.20' val2014='0.50' val2015='0.45' }}
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Net income</h4>
        <p class="description">As a percentage of average equity</p>
        {{> svg/lineGraph val2010='12.3' val2011='10.0' val2012='11.2' val2013='19.3' val2014='6.9' val2015='6.0' }}
      </div>

      <div class="graph-item quote">
        <span>2015 was a year of investing in growth and a superior member experience.</span>
      </div>

      <div class="graph-item">
        <h4 class="graph-title">Operating efficiency</h4>
        <p class="description">In per cent</p>
        {{> svg/lineGraph val2010='68.7' val2011='72.1' val2012='71.0' val2013='76.1' val2014='73.1' val2015='76.4' }}
      </div>
    </div>

  </div>
</div>