<div id="messages" class="section {{ backgroundType }}">
  <div class="container messages-contents">
    <div class="row">

      <div id="message-board-chair" class="video-container board-chair">
        <h3 class="section-title">Board Chair's Message</h3>
        <div class="video" data-videoId="H1puGRLKE8c" data-playerId="board-chair-message" data-analytics-category="Video Message" data-analytics-action="Chair">
          <div id="board-chair-message" class="video-object"></div>
        </div>
        <div class="message">
          <p>“Your Board of Directors is here to represent you, our members. We take great care and consideration in the guidance we provide senior management to make sure Coast Capital always remains strong and is governed in an ethical, efficient and fair manner.”</p>
          <img src="images/signature-bill.png" class="signature" alt="Bill's Signature" />
          <span class="name">Bill Cooke</span>
          <span class="role">Chair, Board of Directors</span>
          <a href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/BCM.pdf" class="more" target="_blank" data-analytics="ga" data-analytics-action="Chair" data-analytics-category="Read More">Read more</a>
        </div>
      </div>

      <div id="message-ceo" class="video-container ceo">
        <h3 class="section-title">CEO's Message</h3>
        <div class="video" data-videoId="bKayrrrB8js" data-playerId="ceo-message" data-analytics-category="Video Message" data-analytics-action="CEO">
          <div id="ceo-message" class="video-object"></div>
        </div>
        <div class="message">
          <p>“We celebrated our 75th birthday in 2015, and we did it by doing what we do best - helping people. After all, that’s what credit unions are all about, and what we, collectively and collaboratively as an industry, work towards every day.”</p>
          <img src="images/signature-don.png" class="signature" alt="Don's Signature" />
          <span class="name">Don Coulter</span>
          <span class="role">President and Chief Executive Officer</span>
          <a href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/CEOM.pdf" class="more" target="_blank" data-analytics="ga" data-analytics-action="CEO" data-analytics-category="Read More">Read more</a>
        </div>
      </div>

    </div>
  </div>

</div>