<div id="other" class="section {{ backgroundType }}">
  <div class="container">
    <ul class="other-contents">
      <li id="five-year-overview">
        <a class="link-element" href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/FYFO.pdf" target="_blank"
           data-analytics="ga" data-analytics-action="5 year overview" data-analytics-category="Linkout">
          <div class="text">
            5-Year <span class="soft-break"></span>Financial <span class="soft-break"></span>Overview
          </div>
          <div class="shadow shadow-bottom"></div>
        </a>
      </li>
      <li id="management-analysis">
        <a class="link-element" href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/MDA.pdf" target="_blank"
           data-analytics="ga" data-analytics-action="Discussion" data-analytics-category="Linkout">
          <div class="text">
            Management&rsquo;s <span class="soft-break"></span>Discussion & <span class="soft-break"></span>Analysis
          </div>
          <div class="shadow shadow-bottom"></div>
        </a>
      </li>
      <li id="consolidated-statements">
        <a class="link-element" href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/CFSN.pdf" target="_blank"
           data-analytics="ga" data-analytics-action="Financial Statements" data-analytics-category="Linkout">
          <div class="text">
            Consolidated <span class="soft-break"></span>Financial Statements <span class="soft-break"></span>and Notes
          </div>
          <div class="shadow shadow-bottom"></div>
        </a>
      </li>
      <li id="corporate-governance">
        <a class="link-element" href="https://www.coastcapitalsavings.com/SharedContent/documents/Governance/2015_AR/CG.pdf" target="_blank"
           data-analytics="ga" data-analytics-action="Governance" data-analytics-category="Linkout">
          <div class="text">
            Corporate <span class="soft-break"></span>Governance<span class="hidden-mobile"><br /><br /></span>
          </div>
          <div class="shadow shadow-bottom"></div>
        </a>
      </li>
    </ul>
  </div>
</div>