<div id="performance" class="section {{ backgroundType }}">
  <div class="container">
    <h3 class="section-title">2015 Performance <span class="nobr"> Against Targets</span></h3>
    <div class="row">

      <div class="bar-graph-item">
        <h4 class="graph-title">Loan balance</h4>
        <p class="description">Total loans</p>
        <!-- // Include from handlebar partials from ./templates/svg/barGraph.hbs -->
        {{> svg/barGraph actualSize='300' targetMarker='300' actualValue='11.6 billion' targetValue='11.6 billion' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Return on average equity</h4>
        <p class="description">Net income expressed as a percentage of average equity</p>
        {{> svg/barGraph actualSize='135' targetMarker='125' actualValue='6.03%' targetValue='5.59%' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Deposit balance</h4>
        <p class="description">Total deposits</p>
        {{> svg/barGraph actualSize='308' targetMarker='295' actualValue='11.7 billion' targetValue='11.5 billion' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Capital</h4>
        <p class="description">Regulator-defined and primarily retained earnings plus share equity divided by total assets adjusted for risk as defined by regulators</p>
        {{> svg/barGraph actualSize='240' targetMarker='235' actualValue='16.19%' targetValue='16.00%' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Net income</h4>
        <p class="description">All revenue less expenses and taxes</p>
        {{> svg/barGraph actualSize='215' targetMarker='180' actualValue='58.4 million' targetValue='53.9 million' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Non-interest expenses</h4>
        <p class="description">All costs that are not interest-related, with the exception of provisions for credit losses and income taxes</p>
        {{> svg/barGraph actualSize='105' targetMarker='95' actualValue='2.00%' targetValue='1.85%' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Return on average assets</h4>
        <p class="description">Net income expressed as a percentage of average assets</p>
        {{> svg/barGraph actualSize='170' targetMarker='160' actualValue='0.45%' targetValue='0.42%' }}
      </div>

      <div class="bar-graph-item">
        <h4 class="graph-title">Operating efficiency</h4>
        <p class="description">Coast Capital’s cost to earn $1, equal to all non-interest expenses divided by the sum of net interest income and other income</p>
        {{> svg/barGraph actualSize='308' targetMarker='295' actualValue='76.4%' targetValue='75.8%' }}
      </div>
    </div>
  </div>
</div>