<div id="timeline">
  <div class="timeline-container">
  </div>
  <div class="timeline-scrubber">
    <div class="scrubber-box">
      <div class="timeline-grabber">
        <div class="timeline-time">2015</div>
      </div>
    </div>
  </div>
</div>
